.mat-table {
    border: 1px solid black;
    .mat-cell {
        flex-direction: column;
        display: flex;
        justify-content: flex-end;
        .mat-cell {
            min-height: 20px;
            width: 100%;
            border-bottom: 1px solid grey;
            &:last-child {
                border-bottom: none;
            }
        }
    }
}