<app-tool-bar>
</app-tool-bar>
<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <ng-container matColumnDef="PositionName">
            <mat-header-cell *matHeaderCellDef> Posición </mat-header-cell>
            <mat-cell *matCellDef="let ofc"> {{ofc.parentId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="NombreCompleto">
            <mat-header-cell *matHeaderCellDef> Nombre completo </mat-header-cell>
            <mat-cell *matCellDef="let employee">
                <mat-cell [matchCellHeight]='book' *ngFor="let employee of employee.listEmployee">
                    {{employee.employeeName + ' ' + employee.employeeSurname}}
                </mat-cell>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Grado">
            <mat-header-cell *matHeaderCellDef> Grado </mat-header-cell>
            <mat-cell *matCellDef="let employee">
                <mat-cell [matchCellHeight]='book' *ngFor="let employee of employee.listEmployee">
                    {{employee.grade}}
                </mat-cell>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Codigo">
            <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
            <mat-cell *matCellDef="let employee">
                <mat-cell [matchCellHeight]='book' *ngFor="let employee of employee.listEmployee">
                    {{employee.employeeCode}}
                </mat-cell>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="FechaInicio">
            <mat-header-cell *matHeaderCellDef> mes </mat-header-cell>
            <mat-cell *matCellDef="let employee">
                <mat-cell [matchCellHeight]='book' *ngFor="let employee of employee.listEmployee">
                    {{employee.beginDateFormat}}
                </mat-cell>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Mes">
            <mat-header-cell *matHeaderCellDef> mes </mat-header-cell>
            <mat-cell *matCellDef="let employee">
                <mat-cell [matchCellHeight]='book' *ngFor="let employee of employee.listEmployee">
                    {{employee.month}}
                </mat-cell>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Ano">
            <mat-header-cell *matHeaderCellDef> Año </mat-header-cell>
            <mat-cell *matCellDef="let employee">
                <mat-cell [matchCellHeight]='book' *ngFor="let employee of employee.listEmployee">
                    {{employee.year}}
                </mat-cell>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="SalarioBase">
            <mat-header-cell *matHeaderCellDef> Salario base </mat-header-cell>
            <mat-cell *matCellDef="let employee">
                <mat-cell [matchCellHeight]='book' *ngFor="let employee of employee.listEmployee">
                    {{employee.baseSalary}}
                </mat-cell>
            </mat-cell>
        </ng-container>
    </mat-table>
</div>