table {
    width: 100%;
}

.buttonRow {
    margin: 5px;
}

.example-card {
    max-width: 400px;
}

.filters-description {
    background-size: cover;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}