.form-add {
    margin-left: 25px;
}

mat-form-field {
    margin-left: 25px;
}

p {
    font-family: Lato;
}

.mat-card {
    margin: 20px;
    width: 20%;
}

.main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
}